<h2 style="font-family:'Courier New', Courier, monospace">Hi {{ name }},</h2>
<p style="font-size: 15px; font-weight:600; font-family:'Courier New', Courier, monospace">You are almost ready to start writing! We just need to confirm your email address.
    <br>
    Please click the link below to confirm your email
</p>
<button type="button" style="padding-inline: 8px; width: auto; height: 28px; background-color:#C077C8; color: white; border-radius: 8px; outline: none; border: 1px solid white">
    <a style="color: white; text-decoration: none;" href="{{ url }}">Confirm your email</a>
</button>

<p style="font-size: 15px; font-weight:600; font-family:'Courier New', Courier, monospace">Take care and see you soon!</p>
